.App {
  text-align: center;
  background-image: url('./assets/joker-2019-joaquin-phoenix-movie-art-uhdpaper.com-4K-3.1250-wp.thumbnail.jpg') center center no-repeat;
  background: rgb(198, 198, 209);
  height: 80vh;
  padding: 0 1rem;
}

body{
  background: black;
}


.slider{
  margin-top: 0;
  background: rgb(53, 53, 53);
  color: rgb(175, 175, 175);
}

.slider h1{
  margin-top: 0;
  padding: 2rem 0 0 2rem;
  margin-right: 1rem;
  display: inline-block;
}